//- mode - development / production

//- Links 


//- social
- var vkLink = "https://vk.com/"
- var fbLink = "https://web.facebook.com/?_rdc=1&_rdr"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "./assets/images/"
- var modules = `/modules/images/`
- var assetsIco = "./assets/images/icons/"
- var modulesIco = `/modules/images/icons/`
//- file paths
- var stylesPath = `./assets/styles/main.min.css`
- var scriptsPath = `./assets/scripts/main.min.js`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1210

//- colors 

//- iconset


